.footer{
    height: 280px;
    background-color: black;
    width:100vw;
}

main{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    color: aliceblue;
    background-color: black;

}
main > div {
    flex: 1;                        /* Make each div take equal space */
    min-width: 200px;               /* Set a minimum width for each div */
    margin: 10px; 
}
.div1 img{
    width: 75px;
    max-width: 75%;   /* Ensure the image scales with the screen */
    height: auto;      /* Maintain the aspect ratio */
    object-fit: contain;
}

p{
    color: aliceblue;
}

.div1{
    padding: 10px;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.div1 pre{
    max-width: 100%; /*ahm wa7da de ely bt5ly el 7aga tresize gwa el div*/  /* Ensure the preformatted text fits within the container */
    white-space: pre-wrap;  /* Wrap text inside the pre tag */
    overflow-x: auto;       /* Allow horizontal scrolling if the content overflows */
    box-sizing: border-box;
}


.div2 h1{
    color: aliceblue;
    max-width: 100%;
}
.div2 > div{
    max-width: 100%;
}

.div2{
    padding: 10px;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 44px;
}
.div3{
    padding: 10px;
    width: 30%;
}

.facebook {
    background-color: blue;
}
.instagram{
    background: linear-gradient(to bottom right, deeppink, purple);
}
.clip-circle {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    clip-path: circle(0px at 50% 50%);
    outline: none;
    border: none;
    transition: all 0.5s ease-out;
}
.facebook-logo, .instagram-logo {
    width: 25px;
    height: 25px;
    z-index: 2;
}
.social-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    position: relative;
    outline: none;
    border: none;
    overflow: hidden;
}
.social-circle:hover .clip-circle {
	clip-path: circle(60px at 50% 50%);
	transition: all 0.7s ease-out;
}

.social-circle:hover{
	background-color: transparent;
	transition: 0.5s;
}
.social{
    display: flex;
}

ul{
    list-style-type: none;
}
a:hover{
    color:#CAB431;
}

h6{
    font-weight: 400;
    font-size: small;
    padding: 23px;
    text-align: center;
    background-color: black;
}
