<main>
  <div class="div1">
    <img src="../../assets/logo.jpg" alt="logo"/>
    <p>Family is like branches on a tree, we grow in different directions yet our roots remain as one.. From this point, our artistic family decided to Publish our art, fill your walls with art , color your life and spread happiness.</p>
  </div>
  <div class="div2">
    <h3>Contact Info</h3>
    <div class="social-circle">
      <div class="clip-circle facebook"></div>
      <img class ="facebook-logo" src="../../assets/facebook.png" alt="facebook">
    </div>
  </div>
</main>