<div class="footer">
  <main>
    <div class="div1">
      <img src="../../assets/logo.jpg" alt="logo"/>
      <pre>
           Family is like branches on a tree, we grow in
           different directions yet our roots remain as one.. 
           From this point, our artistic family decided to
           Publish our art, fill your walls with art , color your
           life and spread happiness.</pre>
    </div>
  
    <div class="div2">
      <h1>Contact Info</h1>
      <div class="social">
        <div class="social-circle">
          <div class="clip-circle facebook"></div>
          <img class ="facebook-logo" src="../../assets/facebook.png" alt="facebook">
        </div>
        <div class="social-circle">
          <div class="clip-circle instagram"></div>
          <img class ="instagram-logo" src="../../assets/instagram.png" alt="instagram">
        </div>
      </div>
    </div>
  
    <div class="div3">
      <h1>Main Links</h1>
      <ul>
        <li><a >Home</a></li>
        <li><a >Sketches</a></li>
        <li><a >Decorative Pieces</a></li>
        <li><a >Workshops</a></li>
        <li><a >About Us</a></li>
      </ul>
    </div>
  </main>
  <hr style="color: aliceblue">
  <h6 style="color: aliceblue">Copyright ©2022 All rights reserved to Tree Art Vision.</h6>
</div>
