

nav{
    height:10vh;
    color:#CAB431;
    font-family: 'Abel', sans-serif;
    font-size: medium;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    
    /* flex-direction: row-reverse; */
}
.navLight{
    background-color: white;
}
.navDark{
    background-color:black;
}
.matIconSun{
    color: black;
}
.matIconMoon{
    color: white;
}

.hyperlinks{
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:0 15px;
}


a{
    padding: 5px;
    text-decoration: none;
    /* transition-property: text-decoration;
    transition-duration: 5s;
    transition-delay: 2s;
    transition-timing-function: ease; */
}

a:hover{
    /* text-decoration: underline; */
    transform: scale(0, 1);
    transition: transform 0.5s ease;

}

nav img{
    width: auto;
    margin:0 15px;
    
}


