

nav{
    height:10vh;
    width: 100vw;
    color:#CAB431;
    font-family: 'Abel', sans-serif;
    font-size: medium;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    
    /* flex-direction: row-reverse; */
}
.navLight{
    background-color: white;
}
.navDark{
    background-color:black;
}
.matIconSun{
    color: black;
}
.matIconMoon{
    color: white;
}

.hyperlinks{
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:0 15px;
}


a{
    padding: 5px;
    text-decoration: none;
    /* transition-property: text-decoration;
    transition-duration: 5s;
    transition-delay: 2s;
    transition-timing-function: ease; */
}
.smallNav{
    display: none;
}

a:hover{
    /* text-decoration: underline; */
    transform: scale(0, 1);
    transition: transform 0.5s ease;

}

nav img{
    width: auto;
    margin:0 15px;
    
}

.nav-links {
    background-color: black;
    position: absolute;
    height: 90vh;
    width: 100%;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all ease-in 1s;
    pointer-events: none;
    flex-direction: column;
    margin-left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.circle-toggle {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    transition: all ease-out 1s;
    pointer-events: all;
}
.main-links-list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 100%;
    list-style: none;
    display: flex;
}
@media screen and (max-width : 537px) {
    .hyperlinks a{
        display: none;
    }
    .smallNav{
        display: block;
    }
    .nav-links{
        display: flex;
    }
}

li a{
    color:#CAB431;
}

